# Lab | Customer Analysis Round 2

For this lab, we will be using the `marketing_customer_analysis.csv` file that you can find in the `files_for_lab` folder. Check out the `files_for_lab/about.md` to get more information if you are using the Online Excel.

**Note**: For the next labs we will be using the same data file. Please save the code, so that you can re-use it later in the labs following this lab.

### Dealing with the data

1. Show the dataframe shape.
2. Standardize header names.
3. Which columns are numerical?
4. Which columns are categorical?
5. Check and deal with `NaN` values.
6. Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. _Hint_: If data from March does not exist, consider only January and February.
7. BONUS: Put all the previously mentioned data transformations into a function.

In [1]:
import pandas as pd
import numpy as np
import time
data = pd.read_csv('./csv_files/marketing_customer_analysis.csv')
data.shape

(10910, 26)

In [2]:
data.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [3]:
cols = []
for e in data.columns:
    cols.append(e.lower())
data.columns = cols

In [4]:
data

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [5]:
data.columns

Index(['unnamed: 0', 'customer', 'state', 'customer lifetime value',
       'response', 'coverage', 'education', 'effective to date',
       'employmentstatus', 'gender', 'income', 'location code',
       'marital status', 'monthly premium auto', 'months since last claim',
       'months since policy inception', 'number of open complaints',
       'number of policies', 'policy type', 'policy', 'renew offer type',
       'sales channel', 'total claim amount', 'vehicle class', 'vehicle size',
       'vehicle type'],
      dtype='object')

In [6]:
data.dtypes

unnamed: 0                         int64
customer                          object
state                             object
customer lifetime value          float64
response                          object
coverage                          object
education                         object
effective to date                 object
employmentstatus                  object
gender                            object
income                             int64
location code                     object
marital status                    object
monthly premium auto               int64
months since last claim          float64
months since policy inception      int64
number of open complaints        float64
number of policies                 int64
policy type                       object
policy                            object
renew offer type                  object
sales channel                     object
total claim amount               float64
vehicle class                     object
vehicle size                      object
vehicle type                      object
dtype: object

In [7]:
round(data.isna().sum()/len(data),4)*100  # shows the percentage of null values in a column

unnamed: 0                        0.00
customer                          0.00
state                             5.78
customer lifetime value           0.00
response                          5.78
coverage                          0.00
education                         0.00
effective to date                 0.00
employmentstatus                  0.00
gender                            0.00
income                            0.00
location code                     0.00
marital status                    0.00
monthly premium auto              0.00
months since last claim           5.80
months since policy inception     0.00
number of open complaints         5.80
number of policies                0.00
policy type                       0.00
policy                            0.00
renew offer type                  0.00
sales channel                     0.00
total claim amount                0.00
vehicle class                     5.70
vehicle size                      5.70
vehicle type                     50.25
dtype: float64

In [8]:
data.isna()

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
10906,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10907,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
10908,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10909,False,False,True,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [9]:
data['state'].value_counts()

California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: state, dtype: int64

In [10]:
data['state'] = data['state'].fillna('california')

In [11]:
data['response'].value_counts()

No     8813
Yes    1466
Name: response, dtype: int64

In [12]:
data['response'] = data['response'].fillna('no response')

In [13]:
data['vehicle type']

0        NaN
1        NaN
2          A
3          A
4        NaN
        ...
10905      A
10906      A
10907    NaN
10908      A
10909    NaN
Name: vehicle type, Length: 10910, dtype: object

In [14]:
data['vehicle type'].value_counts()

A    5428
Name: vehicle type, dtype: int64

In [15]:
data['vehicle type'] = data['vehicle type'].fillna('notA')

In [16]:
data

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,notA
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,notA
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,notA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,notA
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,california,6857.519928,no response,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,notA

In [17]:
data['effective to date']

0        2/18/11
1        1/18/11
2        2/10/11
3        1/11/11
4        1/17/11
          ...
10905    1/19/11
10906     1/6/11
10907     2/6/11
10908    2/13/11
10909     1/8/11
Name: effective to date, Length: 10910, dtype: object

In [18]:
s = 'hola/que/tal'

In [19]:
s.strip('/')

'hola/que/tal'

In [20]:
s.split('/')

['hola', 'que', 'tal']

In [21]:
data['effective to date'].str.split('/')

0        [2, 18, 11]
1        [1, 18, 11]
2        [2, 10, 11]
3        [1, 11, 11]
4        [1, 17, 11]
            ...
10905    [1, 19, 11]
10906     [1, 6, 11]
10907     [2, 6, 11]
10908    [2, 13, 11]
10909     [1, 8, 11]
Name: effective to date, Length: 10910, dtype: object

In [22]:
dict = {'effective to date':'effectivetodate'}

In [23]:
data.rename(columns=dict, inplace=True)

In [24]:
data

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effectivetodate,employmentstatus,gender,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,notA
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,notA
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,notA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,notA
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,california,6857.519928,no response,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,notA

In [25]:
data[['month','day','year']] = data.effectivetodate.str.split('/', expand = True)

In [26]:
datadate = pd.DataFrame()

In [27]:
datadate

Empty DataFrame
Columns: []
Index: []

In [28]:
months = list(data['month'])
days = list(data['day'])
years = list(data['year'])

In [29]:
datadate['month'] = months
datadate['day'] = days
datadate['year'] = years

In [30]:
datadate

      month day year
0         2  18   11
1         1  18   11
2         2  10   11
3         1  11   11
4         1  17   11
...     ...  ..  ...
10905     1  19   11
10906     1   6   11
10907     2   6   11
10908     2  13   11
10909     1   8   11

[10910 rows x 3 columns]

In [31]:
# ahora lo mismo con los datetime format, supuestamente más simple y rápido

In [32]:
data

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effectivetodate,employmentstatus,gender,...,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type,month,day,year
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,notA,2,18,11
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,notA,1,18,11
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2,10,11
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1,11,11
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,notA,1,17,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1,19,11
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1,6,11
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,notA,2,6,11
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2,13,11
10909,10909,IV32877,california,6857.519928,no response,Basic,Bachelor,1/8/11,Unemployed,M,...,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,notA,1,8,11

In [33]:
data['effectivetodate'] = pd.to_datetime(data['effectivetodate'], errors='coerce')

In [34]:
data

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effectivetodate,employmentstatus,gender,...,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type,month,day,year
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,notA,2,18,11
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,notA,1,18,11
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2,10,11
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1,11,11
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,notA,1,17,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1,19,11
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1,6,11
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,notA,2,6,11
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2,13,11
10909,10909,IV32877,california,6857.519928,no response,Basic,Bachelor,2011-01-08,Unemployed,M,...,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,notA,1,8,11

In [35]:
data['MONTH'] = data['effectivetodate'].dt.month
data['DAY'] = data['effectivetodate'].dt.day
data['YEAR'] = data['effectivetodate'].dt.year

In [36]:
data

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effectivetodate,employmentstatus,gender,...,total claim amount,vehicle class,vehicle size,vehicle type,month,day,year,MONTH,DAY,YEAR
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,292.800000,Four-Door Car,Medsize,notA,2,18,11,2,18,2011
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,744.924331,Four-Door Car,Medsize,notA,1,18,11,1,18,2011
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,480.000000,SUV,Medsize,A,2,10,11,2,10,2011
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,484.013411,Four-Door Car,Medsize,A,1,11,11,1,11,2011
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,707.925645,Four-Door Car,Medsize,notA,1,17,11,1,17,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,1214.400000,Luxury Car,Medsize,A,1,19,11,1,19,2011
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,273.018929,Four-Door Car,Medsize,A,1,6,11,1,6,2011
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,381.306996,Luxury SUV,Medsize,notA,2,6,11,2,6,2011
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,618.288849,SUV,Medsize,A,2,13,11,2,13,2011
10909,10909,IV32877,california,6857.519928,no response,Basic,Bachelor,2011-01-08,Unemployed,M,...,1021.719397,SUV,Medsize,notA,1,8,11,1,8,2011

In [37]:
data1erT = data[data['MONTH']<=2]

In [38]:
data1erT

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effectivetodate,employmentstatus,gender,...,total claim amount,vehicle class,vehicle size,vehicle type,month,day,year,MONTH,DAY,YEAR
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,292.800000,Four-Door Car,Medsize,notA,2,18,11,2,18,2011
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,744.924331,Four-Door Car,Medsize,notA,1,18,11,1,18,2011
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,480.000000,SUV,Medsize,A,2,10,11,2,10,2011
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,484.013411,Four-Door Car,Medsize,A,1,11,11,1,11,2011
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,707.925645,Four-Door Car,Medsize,notA,1,17,11,1,17,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,1214.400000,Luxury Car,Medsize,A,1,19,11,1,19,2011
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,273.018929,Four-Door Car,Medsize,A,1,6,11,1,6,2011
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,381.306996,Luxury SUV,Medsize,notA,2,6,11,2,6,2011
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,618.288849,SUV,Medsize,A,2,13,11,2,13,2011
10909,10909,IV32877,california,6857.519928,no response,Basic,Bachelor,2011-01-08,Unemployed,M,...,1021.719397,SUV,Medsize,notA,1,8,11,1,8,2011